tp2/ej1/src/Barrios.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:element name="barrios">
        <xsd:complexType>
            <xsd:sequence maxOccurs="unbounded">
                <xsd:element ref="barrio"></xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="barrio">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="id"/>
                <xsd:element ref="nombre"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="id">
        <xsd:simpleType>
            <xsd:restriction base="xsd:int">
                <xsd:totalDigits value="5"></xsd:totalDigits>
            </xsd:restriction>
        </xsd:simpleType>
    </xsd:element>

    <xsd:element name="nombre">
        <xsd:simpleType>
            <xsd:restriction base="xsd:string">
                <xsd:maxLength value="30"></xsd:maxLength>
            </xsd:restriction>
        </xsd:simpleType>
    </xsd:element>
</xsd:schema>
